html, body{
  height: 100%;
}

body{
  color: #333;
  margin: auto;
  padding: 1em;
  display: table;
  user-select: none;
  box-sizing: border-box;
  font: lighter 20px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a{
  color: #3498db;
  text-decoration: none;
}
h1{
  margin-top: 0;
  font-size: 3.5em;
}
main{
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.btn{
  color: #fff;
  padding: .75em 1em;
  background: #3498db;
  border-radius: 1.5em;
  display: inline-block;
  transition: opacity .3s, transform .3s;
}
.btn:hover{
  transform: scale(1.1);
}
.btn:active{
  opacity: .7;
}