<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>404 - Page Not Found</title>
    <meta
      name="viewport"
      content="width=device-width, maximum-scale=1, initial-scale=1"
    />
    <link rel="stylesheet" href="{{ url_for('public', path='global.css') }}" />
  </head>
  <body>
    <main>
      <h1>404</h1>
      <h3>Oops! Data not found</h3>
      <p>It looks like the data you searched doesn't exist.</p>
      <a class="btn" href="{{ url_for('redocs') }}">Back to Documentation</a>
    </main>
  </body>
</html>
